h1{
    font-size: 30px;
    text-align: center;
    color: #252323;
    font-family: Papyrus, sans-serif;
    }
    
    p{
    font-size: 20px;
    text-align: left;
    font-family: Didot, serif;
    }

    h2{
        font-size: 20px;
        text-align: center;
        color: #252323;
        font-family: Papyrus, sans-serif;
        }